<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:plsql.editor.xtext.ui.editors.PlSqlEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="pls"
            id="plsql.editor.xtext.PlSql"
            name="PlSql Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="plsql.editor.xtext.PlSql.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="plsql.editor.xtext.PlSql.validate">
         <activeWhen>
            <reference
                    definitionId="plsql.editor.xtext.PlSql.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="plsql.editor.xtext.PlSql.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="plsql.editor.xtext.PlSql" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="plsql.editor.xtext.PlSql"
            name="PlSql">
            <keywordReference id="plsql.editor.xtext.ui.keyword_PlSql"/>
        </page>
        <page
            category="plsql.editor.xtext.PlSql"
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="plsql.editor.xtext.PlSql.coloring"
            name="Syntax Coloring">
            <keywordReference id="plsql.editor.xtext.ui.keyword_PlSql"/>
        </page>
        <page
            category="plsql.editor.xtext.PlSql"
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="plsql.editor.xtext.PlSql.templates"
            name="Templates">
            <keywordReference id="plsql.editor.xtext.ui.keyword_PlSql"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="plsql.editor.xtext.ui.keyword_PlSql"
            label="PlSql"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="plsql.editor.xtext.PlSql.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="plsql.editor.xtext.PlSql.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="plsql.editor.xtext.PlSql.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="plsql.editor.xtext.PlSql.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="plsql.editor.xtext.PlSql.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="pls">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="pls">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="plsql.editor.xtext.PlSql.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="plsql.editor.xtext.PlSql.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="plsql.editor.xtext.ui.PlSqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="plsql.editor.xtext.ui.actionSet1"
            label="label"
            visible="true">
         <action
               class="plsql.editor.xtext.ui.actions.RenameAction"
               definitionId="org.eclipse.jdt.ui.edit.text.java.rename.element"
               id="plsql.editor.ui.action1"
               label="PL/SQL Rename Refactoring"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="plsql.editor.ui.occurrences">
      </type>
      <type
         name="plsql.editor.ui.occurrences.write">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
	  <specification
            annotationType="plsql.editor.ui.occurrences"
            label="PL/SQL Occurrences"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
	  </specification>
	  <specification
            annotationType="plsql.editor.ui.occurrences.write"
            label="PL/SQL Occurrences Write"
            textPreferenceKey="occurrenceIndicationWrite"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlightingWrite"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRulerWrite"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRulerWrite"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColorWrite"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarActionWrite"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTargetWrite"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTargetWrite"
	        isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyleWrite"
            textStylePreferenceValue="NONE">
	  </specification>
   </extension>

</plugin>
