<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="plsqlBuilder"
         name="PL/SQL Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="plsql.editor.builder.builder.PlSqlBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="plsqlNature"
         name="PL/SQL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="plsql.editor.builder.builder.PlSqlNature">
         </run>
      </runtime>
      <builder
            id="plsql.editor.builder.plsqlBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="plsql.editor.builder.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="plsql.editor.builder.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="plsql.editor.builder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
